
<!DOCTYPE html>
<html>
<head>
  <title>Meteorologist</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <!-- Connect to Bootstrap CSS -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

  <!-- Connect to Font Awesome CSS -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <!-- Connect to Bootstrap Javascript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <style>
        /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
        #map {
          height: 100%;
        }
        /* Optional: Makes the sample page fill the window. */
        html, body {
          height: 100%;
          margin: 40px;
          padding: 0;
        }
      </style>
</head>


<body>

<nav>
  <ul>
    <li><a href="/street_to_coords/new">Street &rarr; Coords</a></li>
    <li><a href="/coords_to_weather/new">Coords &rarr; Weather</a></li>
    <li><a href="/street_to_weather/new">Street &rarr; Weather</a></li>
  </ul>
</nav>

<%= yield %>
<%= @latitude %>
<%= @longitude %>


</body>
</html>
